@use "mixins";

@use "base";
@use "components/all";

@use "modern-normalize";

/*! Custom addition to "modern-normalize */
:root {
  line-height: 1.5;
  color-scheme: dark light;
}

h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
  margin: 0;
}

ol,
ul {
  list-style: none;
  padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

a {
  text-decoration: none;
  cursor: default;
}
