$black: #000;
$white: #fff;

$white-anti-flash: #efefef; // Primary Light
$blue-oxford: #0a1931; // Primary Dark

$blue-tang: #185abd; // Primary Light Theme / Secondary Dark Theme`
$yellow-sunglow: #ffc947; // Primary Dark Theme / Secondary Light Theme`

$purple-royal: #7952b3; // Tertiary

$green-sea: #09814a; // Success
$orange-flame: #cf5c36; // Warning
$red-carmine: #931f1d; // Darnger

$all: (
  "black": $black,
  "white": $white,
  "white-anti-flash": $white-anti-flash,
  "blue-oxford": $blue-oxford,
  "blue-tang": $blue-tang,
  "yellow-sunglow": $yellow-sunglow,
  "purple-royal": $purple-royal,
  "green-sea": $green-sea,
  "orange-flame": $orange-flame,
  "red-carmine": $red-carmine,
);
