@use "../constants/colors";

@mixin flex {
  display: flex;
}

@mixin column {
  @include flex;
  flex-direction: column;
}

@mixin row {
  @include flex;
  flex-direction: row;
}

@mixin full-percentage {
  height: 100%;
  width: 100%;
}

@mixin colors-primary {
  background-color: colors.$white-anti-flash;
  color: colors.$blue-tang;

  @media (prefers-color-scheme: dark) {
    background-color: colors.$blue-oxford;
    color: colors.$yellow-sunglow;
  }
}

@mixin colors-primary-reverse {
  background-color: colors.$blue-oxford;
  color: colors.$yellow-sunglow;

  @media (prefers-color-scheme: dark) {
    background-color: colors.$white-anti-flash;
    color: colors.$blue-tang;
  }
}

@mixin colors-secondary {
  background-color: colors.$blue-tang;
  color: colors.$white-anti-flash;

  @media (prefers-color-scheme: dark) {
    background-color: colors.$yellow-sunglow;
    color: colors.$blue-oxford;
  }
}

@mixin colors-secondary-reverse {
  background-color: colors.$yellow-sunglow;
  color: colors.$blue-oxford;

  @media (prefers-color-scheme: dark) {
    background-color: colors.$blue-tang;
    color: colors.$white-anti-flash;
  }
}
