@use "../constants/colors";

@mixin theme_colors($prefix) {
  @each $color-name, $color-value in colors.$all {
    .#{$prefix}\:background--#{$color-name} {
      background-color: $color-value;
    }

    .#{$prefix}\:text--#{$color-name} {
      color: $color-value;
    }
  }
}
