@use "../utils/classes";

.collapsibles {
  @include classes.column;
  row-gap: 1.5rem;
}

.collapsible {
  border-radius: 0.5rem;
  padding: 0 1.25rem;
  word-wrap: break-word;
  white-space: normal;
  @include classes.colors-primary;

  & > input {
    display: none;
  }

  &:has(> input:checked) {
    .collapsible__content {
      grid-template-rows: 1fr;
    }
  }

  &--border {
    border-width: 1px;
    border-style: solid;
  }

  &--shadow {
    box-shadow: 0 0.5em 1em -0.125em, 0 0 0 0;
  }

  &__label {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.5rem;
    height: 3rem;
    margin: 0.5rem 0;
    cursor: pointer;
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;

    &--transition {
      transition: grid-template-rows 500ms ease;
    }
  }
}

.collapsible-content {
  overflow: hidden;

  &__divider {
    border: none;
    height: 2px;
    margin: 0;
    @include classes.colors-secondary;
  }

  &__text {
    margin: 1.25rem 0;
  }
}
