@use "../constants/sizes";
@use "../utils/classes";

.sidebar-control {
  @include classes.full-percentage;
  overflow: hidden;

  &__label {
    @include classes.row;
    align-items: center;
  }

  &__icon {
    font-size: 1.5rem;
  }

  & input#sidebar-control {
    display: none;
  }

  &:has(input#sidebar-control:checked) {
    .layout-sidebar {
      flex-basis: 0;
    }
  }

  // Meaning sidebar is "OPEN"
  &:has(input#sidebar-control:not(:checked)) {
    // .mdi-menu-close
    .sidebar-control__icon--close {
      display: none;
    }
  }
  // Meaning sidebar is "CLOSE"
  &:has(input#sidebar-control:checked) {
    // .mdi-menu-open
    .sidebar-control__icon--open {
      display: none;
    }
  }
}

.layout-column {
  @include classes.column;
  @include classes.full-percentage;
  overflow: hidden auto;
}

.layout-row {
  @include classes.row;
  @include classes.full-percentage;
  overflow: hidden auto;
}

.layout-sidebar {
  @include classes.column;
  @include classes.full-percentage;
  flex: 0 0;

  flex-basis: 100%;
  @media (width > sizes.$tablet) {
    flex-basis: clamp(0rem, 20%, 16rem);
  }

  overflow: hidden auto;
  white-space: nowrap;
  transition: flex-basis 500ms cubic-bezier(0.4, 0, 0.2, 1);
  @include classes.colors-secondary;
}

.layout-navbar {
  @include classes.flex;
  height: 3rem; // 48px
  @include classes.colors-primary;
}

.layout-content {
  @include classes.column;
  @include classes.full-percentage;
  @include classes.colors-primary;
  overflow: hidden auto;
  white-space: nowrap;
}

.sidebar {
  display: grid;
  grid-template-areas:
    "head"
    "body"
    "foot";
  grid-template-rows: 3rem 1fr 5rem; // navbar-height 1fr 5rem
  grid-template-columns: 1fr;
  row-gap: 1rem;
  @include classes.full-percentage;
  overflow: hidden auto;
  padding: 0rem 1rem;

  &__head {
    grid-area: head;
    @include classes.row;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0rem;

    & > label {
      @media (width > sizes.$tablet) {
        display: none;
      }
    }
  }

  &__body {
    grid-area: body;
    @include classes.column;
    row-gap: 0.5rem;
    overflow: hidden auto;
  }

  &__foot {
    grid-area: foot;
    @include classes.row;
    align-items: center;
    padding: 0.5rem 0rem;
  }

  &__elem {
    @include classes.row;
    align-items: center;
    column-gap: 0.5rem;
    color: inherit;

    & > span.mdi {
      font-size: 1.5rem;
    }
  }
}

.navbar {
  @include classes.row;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  padding: 0.5rem 1rem;
  user-select: none;

  &__elem {
    @include classes.row;
    align-items: center;
    color: inherit;

    & > span.mdi {
      font-size: 1.5rem;
    }
  }
}

.content {
  @include classes.full-percentage;
  padding: 1rem;
}

.footer {
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;
  grid-template-rows: auto;
  padding: 3rem 1.5rem 4rem;

  @include classes.colors-primary-reverse;

  &__logo {
    justify-self: center;

    height: 3rem; // 48px
    @media (width < sizes.$tablet) {
      width: 75%;
    }

    & > img {
      height: 100%;
      width: 100%;
    }
  }

  &__elem {
    justify-self: flex-start;
  }
}
